body {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.app-container {
    display: flex; /* Ensures that the sidebar and the content are side-by-side */
    flex-direction: column;
    min-height: 100vh; /* Minimum height */
    transition: margin-left 0.3s;
}

.app-container.with-sidebar {
    margin-left: 250px; /* Adjust this value to match the sidebar's width */
}

.form-container {
    flex-grow: 1; /* Allows the form container to fill the available space */
    max-width: 800px; /* Maximum width of the form */
    margin: 20px auto; /* Center the form horizontally and add margin vertically */
    padding: 30px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table thead th {
    background-color: yellow;
    text-align: center;
}

.table tbody td {
    text-align: center;
    vertical-align: middle;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    border: none;
    background: none;
    color: #007bff; /* Primary color */
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
}

@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table tbody td, .table thead th {
        font-size: 14px;
    }

    .app-container.with-sidebar {
        margin-left: 0 !important; /* Ensure no shifting on small screens */
    }
}

@media (max-width: 576px) {
    .form-container {
        padding: 15px;
    }

    .table tbody td, .table thead th {
        font-size: 12px;
        padding: 5px;
    }

    h2 {
        font-size: 18px;
    }

    .sidebar-toggle {
        font-size: 20px;
    }
}
