body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: margin-left 0.3s;
}

.app-container.with-sidebar {
    margin-left: 250px;
}

.form-container {
    flex-grow: 1;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 500;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-check-inline .form-check-label {
    margin-right: 15px;
}

.note {
    font-style: italic;
    margin-bottom: 15px;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

.form-check label {
    font-weight: normal;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    border: none;
    background: none;
    color: #007bff;
    cursor: pointer;
    font-size: 24px;
}

@media (max-width: 768px) {
    .app-container.with-sidebar {
        margin-left: 0 !important;
    }
}

@media (max-width: 576px) {
    .form-container {
        padding: 20px;
    }

    .form-check-inline {
        display: block;
    }

    .form-check-inline .form-check-label {
        margin-right: 0;
    }

    .sidebar-toggle {
        font-size: 20px;
    }
}
